@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Mukta:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Dosis', 'sans-serif', 'Mukta', 'Open Sans';
  font-weight: 600;
  line-height: 1.6;
}
 
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

#product-section {
  scroll-margin-top: 100px; /* Отступ сверху при прокрутке */
}

.main-block_header {
  background: aliceblue;
  width: 100%;
  height: 100%;
  display: flex;
}

.explore-button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 15px 15px 0;
  outline: none;
  border: 1.5px solid #264A51;
  border-radius: 3px;
  width: 140.05px;
  height: 40px;
  line-height: 32px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #264A51;
  background-color: rgba(28, 28, 28, 0);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  text-align: center;
}
.explore-button:hover {
  background: #264A51;
  color: white;
  transition: all 500ms ease;
}

/* Скрываем кнопку слайдшоу в Fancybox */
.fancybox__button[data-slideshow],
.fancybox__button[aria-label*="slideshow"],
.fancybox__toolbar__middle {
  display: none !important;
}




